.PasswordOptions {
    display: block;
    padding: 5rem;
    text-align: left;
    width: 50%;
    margin: auto;
  }
  
  .Option {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    align-items: center;
  }